---
---

@import "{{ site.theme }}";
html {
  background: #506465; 
  background: linear-gradient(#506465, #cbd5d6) fixed;  
}
body {
  font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; color: #414141; 
  font-weight: 400;  
}

.wrapper {
  width: 860px;
}
a {
  color:#f3903e;
  text-shadow: rgba(#011c10, 0.9) 0.5px 1px 0.5px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
header {
  background: #f8ba88; 
  background: linear-gradient(#f3903e, #f8ba88);
  border-bottom:1px solid #f59a50;
  h1 {
    font-size:26px;
    line-height:1.3;
    color: #8c8c8c;
     text-shadow: rgba(#011c10, 0.9) 0.5px 1px 0.5px;
  }
  p {
    font-size: 18px;
    color: #6f6f6f;
    font-weight: 500;
  }
  a {
    color: #fff7ee;
  }
}

p {
  color: #344a3f;
  &.view {
  font-weight: 600;
  text-shadow: rgba(#011c10, 0.9) 0.5px 1px 0.5px;
  a {
    color:#f3903e;
  }

      small {
        font-weight:400;
     }
   }
}

footer {
  color: #d2d2d2;
}
@media print, screen and (max-width: 860px) {
  body {
    padding:0;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media print, screen and (max-width:580px) {
  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    color: #05ad61;
    content:'at https://github.com/';
  }
}
